version: '4.53.0'

services:
  splunk:
    image: splunk/splunk:latest
    container_name: splunk-server
    hostname: splunk
    ports:
      # Format is: HOST_PORT:CONTAINER_PORT
      - "8000:8000"
    environment:
      - SPLUNK_START_ARGS=--accept-license
      # !! MANDATORY: Set a strong password for the admin user !!
      - SPLUNK_PASSWORD=splunk
      # Optional: To persist configuration and data
    volumes:
      - splunk_data:/opt/splunk/var
      - splunk_etc:/opt/splunk/etc


  FTP Container:
    build: .\FTP Container
    ports:
      - "21"
# All Volumes will be placed in this section.
volumes:
  splunk_data:
  splunk_etc: